
#header, .header_prototype {
    z-index: 102;
    /* position: relative; */
}
#header {
    position: relative;
    z-index: 10;
    background: #fff;
}
/* .header-top {
    background: #fff;
    padding-top: 8px;
    height: 96px;
} */
#nav-bar {
    position: absolute;
    min-width: 990px;
    width: 100%;
    top: 32px;
    /* height: 64px; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    background: #fff;
}

.nav-section {
    max-width: 1270px;
    /* width: 100%; */
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

body{
    height: 1000px;
}


#nav-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.profile-pic {
    font-size: 0;
    display: flex;
    position: relative;
    background-color:#fafafa;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background-image: url(https://cache3.youla.io/files/images/80_80/5b/e6/5be6f5f3cf2045d381310d1e.jpg);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    cursor: pointer;
}

.dropdown-item{
    padding: .6rem 1.2rem;
}

.dropdown-item i {
    margin-right: 0.7rem;
}
#nav-top {
    box-sizing: border-box;
    padding-top: 8px;
    /* width: 100%; */
    /* padding-left: 5px;
    padding-right: 5px; */
    font-size: 16px;
}

#nav-top a {
    color: #333;
}


#nav-top > * {
    margin-right: 20px;
}


.navbar{
    padding: .5rem 0rem;
}